@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Creepster&family=Diplomata+SC&family=Roboto:wght@300;400;500;700;900&family=Rubik+Moonrocks&display=swap');
body{
    background: linear-gradient(#001d3d, #000814,#001d3d);
    height: 100vh;
    /* text-align: center; */

}

.main{
    /* background: linear-gradient(#001d3d, #000814); */
    /* padding: 100px; */
    /* margin-top: 50px; */
    margin-bottom: 100px;
    height: 60vh;
    /* border-radius: 4px; */
    display:flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items:center;
}
h1{
    text-align: center;
    /* font-size: 30px; */
    /* color: ; */
    font-size:70px; 
    font-family: 'Creepster', cursive;
    background: linear-gradient(#006daa,#001d3d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* border-radius: 4px; */
}
.display{
    /* border: 3px solid #f2f2f2;  */
    padding: 20px; 
    /* margin-top: 10px; */
    color: #fff
}
p{
    font-family: 'Bellefair', serif; 
    font-size: 20px;
    color: #fff 
}
a{
    /* text-decoration: line-through; */
    color: #006daa; 
    font-weight: bolder;
    
}
.new{
    font-size: xx-large;
}
.image{
    height: 50vh;
    width: 500px;
    margin: 20px;
    /* border: 3px solid #f2f2f2;  */
}
img{
    height: 50vh;
    width: 500px;
    border: 3px solid transparent; 
    border-radius: 40px;
    /* border-image: transparent; */
}
.form{
    color: #fff
}
.img{
    /* background: #001d3d, #000814,#001d3d) */
    height: 100px;
    width: 100px;
}
h3{
    font-family: 'Diplomata SC', cursive;
    background: linear-gradient(#006daa,#a100f2,#f20089);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}
h4{
    /* text-align: center; */
    /* font-size: 30px; */
    /* color: ; */
    font-size:30px; 
    font-family: 'Rubik Moonrocks', cursive;
    background: linear-gradient(#006daa,#fff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* border-radius: 4px; */
}